@import "../../styles/vars.scss";

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-image: url(../../images/backgroundBW.jpg);
  background-size: cover;
}
