@import "../../styles/vars.scss";

.button-home {
  position: absolute;
  bottom: 20px;
  right: 20px;
}

.button-home button {
  border: 0px;
  width: 80px;
  height: 80px;
  border-radius: 10px;
  background-color: blue;
}

.button-home button i {
  color: white;
  font-size: 30pt;
}
